button {
    /* display: flex;
    justify-content: space-around;
    align-content: space-around; */
    font-size: 30px;
    border: 3px solid black;
    width: 200px;
    height: 100px;
}

td {
    /* padding: 5%; */
    color: #00d7fd;
    text-shadow: 2px 2px black;
    
}


table {
    width: 100%;
    height: 10px;
    border: 1px solid black;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    /* padding: 1%; */
    text-align: center;
}

body {
    background-image: url(./fundoFinal2.jpg);   
}

h2 {
    font-size: 30px;
    font-style: italic;
}

h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 3px 3px black;
}

main {
    text-align: center;    
}

img {
    width: 100px;
    height: 100px;
    display: none;
    text-align: center;
    
}

#pedra, #papel, #tesoura {
    display: inline-block;    
}


button:hover {
    background-color: #00d7fd;
}
